<ActionBar title="Login" class="action-bar"></ActionBar>

<StackLayout class="page">

    <!-- <Image src="res://logo.jpg"></Image> -->
    
    <StackLayout class="form">
            <Image src="~/images/app_icon.png"></Image>
        <StackLayout class="input-field">
            <Label text="Login" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" keyboardType="email" autocapitalizationType="none" autocorrect="false"></TextField>

            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
            <Label text="Senha" class="label font-weight-bold m-b-5"></Label>
            <TextField class="input" secure="true"></TextField>

            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Button text="Entrar" class="btn btn-primary"></Button>
        <Button text="Criar Conta" nsRouterLink="/sign-up" class="btn btn-outline"></Button>
    </StackLayout>
</StackLayout>